.navbar {
  margin: auto;
  height: 80px;
  width: 98%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  position: overflow;
}
.logo {
  height: 50px;
  width: 50px;
}
.logo_details {
  width: 18%;
  display: flex;
  margin-left: 50px;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}
.product_cart {
  display: flex;
  align-items: center;
  width: 12.5%;
  gap: 30px;
  color: rgb(1, 130, 130);
}
.product_cart Link.active {
  background-color: red;
}
.link {
  text-decoration: none;
  color: rgb(1, 130, 130);
}
